/* Common styles */
.wishlist-product img {
    width: 90px;
    height: 90px;
}

.wishlist-product {
    display: flex;
}

.wishlist-product-info {
    font-size: 15px;
    margin-top: 10px;
}

.wishlist-action {
    display: flex;
}

.wishlish-table {
    margin-left: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.active {
    color: rgb(34, 180, 34);
}

.vender {
    margin-left: 5px;
    color: #f8cc07;
}

.wishlist-product-info p:hover {
    color: #f8cc07;
}


@media (max-width: 768px) {
    .wishlish-table {
        margin-left: 0; 
    }

    
    .wishlish-table table {
        display: block;
        width: 100%; 
        overflow-x: auto; 
    }

 
    .wishlish-table tr {
        display: block;
        margin-bottom: 15px;
    }

   
    .wishlish-table td,
    .wishlish-table th {
        display: block;
        padding: 10px;
        width: 100%; 
    }

   
    .wishlish-table thead {
        display: none;
    }

   
    .wishlish-table td[data-label] {
        position: relative;
        padding-left: 50%; 
    }

  
    .wishlish-table td[data-label]:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 10px;
        padding-top: 5px;
        text-align: left;
        white-space: nowrap;
        font-weight: bold;
    }

   
    .wishlist-action {
        display: block;
        margin-top: 10px;
    }

    .wishlist-action button {
        margin-bottom: 10px; 
    }
}
