.feature-head{
    display: flex;
    margin-top: 50px;
}
.feature-arrow{
    margin-left:70%;
}
.feature-arrow span{
    background-color: #f5f5f5;
}
.slider-container{
    margin: 30px;
    margin-top: 50px;

}

.feature-img{
    width:320px;
    height:200px;
   
}
.feature-img img{
    width:300px;
     height:200px;
     margin-top: 20px;  
     
 }
 .feature-content{
    margin-top: 5px;
 }
 .feature-content:hover{
    color: #FAB528;

 }
