
.Banner-div{
    display:flex ;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color:rgb(252, 250, 250);
}
.banner-img img{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 390px;
    height: 250px;
}